<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <title>RockPaperScissors</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<nav>
<ul>
  <li><a href="/welcome">Welcome</a></li>
</ul>
</nav>
  <%= yield %>
  <!-- yield specifies this is where templates will be loaded. -->
</body>
</html>